.parallax{
    height: 101vh;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.parallax-img1{
    background-image: url(/img/mizu1.jpg);
}
.parallax-img2{
    background-image: url(/img/mizu2.jpg);
}
.parallax-img3{
    background-image: url(/img/mizu3.jpg);
}
.parallax-img4{
    background-image: url(/img/mizu4.jpg);
}