*{
    font-family: Helvetica, "游ゴシック";
}

body{
    background-color: azure;
}

h1{
	color: red;
	&:hover{
		color: royalblue;
	}
}
.container{    
    //中にあるdivタグを中央寄せ
    display: flex;
    justify-content: center;
}

.section-title{
    text-align: center;
    //subtitle
    h2{
        font-size: 35px;
        color: darkorange;
    }
}
//Navigation Bar
nav{
    display: block;
    margin: 0;
    padding: 0;
    width: 100%;
    top: 0;
    position: fixed;
}

ul.nav-list{
    overflow: hidden;
    background-color: aquamarine; 
    margin: 0;
    li{
        display: block;
        a{
            display: block;
            text-decoration: none;
            color: darkorange;
            font-size: 16px;
            &:hover{
                background-color: aqua;
            }
        }
    }
    .nav-content{
        float: right;
        a{
            padding: 12px 20px;
        }
    }
    .nav-title{
        float: left;
        a{
            padding: 8px 20px;
        }
    }
}

//ABOUTのContents
#about{
    height: 100vh;
}
#about-title{
    text-align: center;
    //subtitle
    h2{
        font-size: 35px;
        color: darkorange;
    }
}
//プロフィールの画像部分
#about-img{
    margin: 0 40px;
    img{
        display: block;
        margin: 0 auto;
        border-radius: 100px;
        height: 200px;
        width: 200px;
    }    
    .title{
        text-align: center;
        font-size: 25px;
    }
}
//プロフィールの内容
#about-content{
    margin: 0 40px;
    .subtitle{
        margin: 25px 0 0 30px;
        font-size: 19px;
    }
}

#mypic{
    background-repeat: no-repeat;
    background-size: cover;
}

//Product
#product{
    height: 100vh;
}

#product-content{
    #poke{
        display: block;
        width: 250px;
        height: 200px;
        background-image: url("/img/poke.png");
        background-repeat: no-repeat;
        background-size: cover;
    }
    #kakeibo{
        display: block;
        width: 250px;
        height: 200px;
        background-image: url("/img/kakeibo.png");
        background-repeat: no-repeat;
        background-size: cover;
    }
    #bulletin{
        width: 250px;
        height: 200px;
        background-image: url("/img/bulletin.png");
        background-repeat: no-repeat;
        background-size: cover;
    }
    #question{
        width: 250px;
        height: 200px;
        background-image: url("/img/question.png");
        background-repeat: no-repeat;
        background-size: cover;
    }
}

//Contact
#contact{
    height: 100vh;
}

#contact-content{
    display: flex;
    justify-content: center;
}

.contact-link{
    margin: 0 100px;
}

.link{
}

.parallax{
    height: 100vh;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.box{
    max-width: 30px 0;
    h1{
        line-height: 100vh;
        font-size: 60px;
        color: #fff;
        text-align: center;
        font-weight: bold;
        text-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    }
}

.parallax-img1{
    background-image: url(/img/mizu1.jpg);
}
.parallax-img2{
    background-image: url(/img/mizu2.jpg);
}
.parallax-img3{
    background-image: url(/img/mizu3.jpg);
}
.parallax-img4{
    background-image: url(/img/mizu4.jpg);
}

@media screen and (max-width: 960px){
    .box{
        width: auto;
    }
}