doctype html
html(lang='ja')
    head
        meta(charset="utf-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1")
        title ふぇれっと
        link(href="css/normalize.css", rel="stylesheet")
        link(href="css/devicons.css", rel="stylesheet")
        link(href="css/animate.css", rel="stylesheet")
        link(href="css/style.css", rel="stylesheet")
        script(src="https://code.jquery.com/jquery-1.7.1.js")
        script(src="./js/index.js")
        script(src="./js/wow.js")
    body
        nav
            ul.nav-list
                li.nav-title: a(href="#top") ミズゴロウのすみか
                li.nav-content: a(href="#contact") CONTACT
                li.nav-content: a(href="#product") PRODUCT
                li.nav-content: a(href="#skills") SKILLS
                li.nav-content: a(href="#about") ABOUT
        article
            section
                div.parallax.parallax-img1#top
                    div.box
                        h1 ミズゴロウのすみか!
                div#about.wow.bounceInRight(data-wow-duration="1s" data-wow-delay="0.3s")
                    div.section-title
                        h2 About
                    div.container
                        div#about-img
                            h3.title ツルえもん㌠
                            img#mypic(src="/img/mypic.jpg", alt="プロフィール")
                        div#about-content
                            h4.subtitle 経歴
                            ul
                                li 広島の某大学を早期卒業
                                li 茨城の某大学大学院M1(Now)
                            h4.subtitle 趣味
                            ul
                                li バドミントン(11年目)
                                li カクテル
                                li ボウリング(自己新245)
                                li お菓子作り(稀)
            
            section
                div.parallax.parallax-img2
                    div.box
                        h1 河原町 with ミズゴロウ
                div#skills
                    div.section-title
                        h2 Skills
                        span.devicons.devicons-php.icon-size
                        span.devicons.devicons-laravel.icon-size
                        span.devicons.devicons-mysql.icon-size
                        span.devicons.devicons-angular.icon-size
                        span.devicons.devicons-javascript.icon-size
                        span.devicons.devicons-nodejs.icon-size
                        span.devicons.devicons-html5.icon-size
                        span.devicons.devicons-css3.icon-size
                        span.devicons.devicons-android.icon-size
            section
                div.parallax.parallax-img3
                    div.box
                        h1 伏見稲荷大社 with ミズゴロウ
                div#product
                    div.section-title
                        h2 Product
                    div#product-content
                        div.container
                            div.img
                                div#bulletin
                                h2.img-title 簡易SNS
                            div.img
                                div#question
                                h2.img-title 出題&質問サイト
                            div.img
                                div#hackathon
                                h2.img-title コメント流し(ハッカソン)
                        div.container
                            div.img
                                div#chat
                                h2.img-title チャット
                            div.img
                                div#playlistshare
                                h2.img-title PlayListShare(開発中)
                            div.img
                                div#commentviewer
                                h2.img-title コメビュ(開発中)
            section
                div.parallax.parallax-img4
                    div.box
                        h1 平等院鳳凰堂 with ミズゴロウ
                div#contact.wow.rollIn(data-wow-duration="1s" data-wow-delay="0.3s")
                    div.section-title
                        h2 Contact
                    div#contact-content.container
                        div.link
                            a.contact-link(href="https://twitter.com/terado_desu" target="_blank")
                                img(src="/img/twitter.png" style="width:120px;height:120px")
                        div.link
                            a.contact-link(href="https://github.com/ferretdayo" target="_blank")
                                img(src="/img/github.png")
                        div.link
                            a.contact-link(href="http://qiita.com/ferretdayo" target="_blank")
                                img(src="/img/qiita.png" style="width:120px;height:120px")
                        div.link
                            a.contact-link(href="http://www.amazon.co.jp/registry/wishlist/17N6CFZAF1XHH/ref=cm_sw_r_tw_ws_7PbtxbQ6R1JD3" target="_blank")
                                img(src="/img/amazon.png")
        div#footer
        script new WOW().init();
        script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js")
        script(scr="js/index.js")