doctype html
html(lang='ja')
    head
        meta(charset="utf-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1")
        title ふぇれっと
        link(href="css/normalize.css", rel="stylesheet")
        link(href="css/style.css", rel="stylesheet")
    body
        nav
            ul.nav-list
                li.nav-title: a(href="#") ミズゴロウのすみか
                li.nav-content: a(href="#") CONTACT
                li.nav-content: a(href="#") SKILLS
                li.nav-content: a(href="#") ABOUT
        article
            div.parallax.parallax-img1
                div.box
                    h1 helloWorld!
            div.about
                div.box
                    h2 About
                    div#about
                        div#about-img
                            h3.title ツルえもん㌠
                            img#mypic(src="/img/mypic.jpg", alt="プロフィール")
                        div#about-content
                            h4.subtitle 経歴
                            ul
                                li 広島の某大学を早期卒業
                                li 現在 茨城の某大学大学院M1
                            h4.subtitle 趣味
                            ul
                                li バドミントン(11年目)
                                li カクテル
                                li ボウリング(自己新245)
                                li お菓子作り(稀)
            div.parallax.parallax-img2
                div.box
                    h1 helloWorld!
            div.content
                div.box
                    h2 hello
            div.parallax.parallax-img3
                div.box
                    h1 helloWorld!
            div.content
                div.box
                    h2 hello
        div#footer
        script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js")
        script(scr="js/index.js")